* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kat {
    background-image: url(victor-garcia-1263465-unsplash\ \(1\).png);
    margin: auto;
}

header {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.tc {
    max-width: 500px;
}

span {
    color: orange;
}

.e {
    color: white;
}

a {
    text-decoration: none;
}

li {
    padding: 0 20px 0;
}

.tc ul li a:hover {
    color: orange;
}

.tc ul li a {
    color: white;
}

.java {
    max-width: 800px;
    margin: auto;
    height: 500px;
}

.java {
    margin-top: 200px
}

.dad {
    border: 1px solid red;
    max-width: 1140px;
    height: auto;
    margin: auto;
}

.da {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.d {
    margin-top: 30px;
    margin: auto;
}

.maz {
    width: 250px;
    border: 2px solid red;
    margin: auto;
}

.maz h6 {
    font-size: 20px;
}

.zam {
    max-width: 1300px;
    display: flex;
    border: 2px solid black;
    margin: auto;
    color: aliceblue;
    /* flex-wrap: wrap; */
}

.zar {
    border: 2px solid green;
    background-color: #181818;
}

@media (max-width:530px) {
    ul {
        max-width: (100% / 3);
        flex-wrap: wrap;
    }
}

@media (max-width:800px) {
    .zar .zam {
        max-width: (100% / 2);
        flex-wrap: wrap;
    }
}

@media (max-width:550px) {
    .zar .zam {
        max-width: (100% / 1);
        flex-wrap: wrap;
    }
}

.kaltak .oxirgi {
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    color: aliceblue;
    margin: auto;
    border: 1px solid red;
}

.kaltak .oxirgi .jasur {
    border: 1px solid red;
    margin: auto;
    background-color: #181818;

}

@media (max-width:1000px) {
    .kaltak .oxirgi {
        max-width: (100% / 3);
        flex-wrap: wrap;
        margin: auto;
    }
}

.ka {
    max-width: 1100px;
    border: 1px solid red;
    margin: auto;
    background-image: url(alesia-kazantceva-283291-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1100px;
    color: rgb(99, 88, 88);
}

.ka .kik {
    margin-top: 50px;
    font-size: 60px;
}

.ka .ozod {
    max-width: 700px;
}